body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f2027;
  color: white;
  text-align: center;
}

header {
  background: #00c853;
  padding: 20px;
}

.search {
  margin: 20px;
}

input {
  padding: 10px;
  width: 70%;
  max-width: 300px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 15px;
  background: #00c853;
  border: none;
  color: white;
  border-radius: 5px;
}

.videos iframe {
  width: 100%;
  max-width: 360px;
  height: 215px;
  margin: 10px;
  border-radius: 10px;
}